{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sweetalert.css' %}" rel="stylesheet">
    <title>Title</title>
    <script type="text/javascript">
        function showtoast() {
            var key = $('input')[0].attributes[2].nodeValue
            console.log(key)
            console.log($('input'))
            var str = "<input type=\"hidden\" name=\"csrfmiddlewaretoken\" value=" + key + ">"
            swal({
                title: "<span style=\"text-align: center; font-size: 30px\">请选择当前学期</span>",
                text: "    <form method=\"post\" action=\"{% url 'admin' %}\">\n" + str +
                    "        <select name=\"xq\">\n" +
                    "            <option value =\"2020-2021学年秋季学期\"> 2020-2021学年秋季学期 <option>\n" +
                    "            <option value =\"2020-2021学年冬季学期\"> 2020-2021学年冬季学期 <option>\n" +
                    "            <option value =\"2020-2021学年春季学期\"> 2020-2021学年春季学期 <option>\n" +
                    "        </select>\n" +
                    "        <button type=\"submit\"> 确认 </button>\n" +
                    "    </form>",
                type: 'warning',
                showConfirmButton: false,
                animation: "slide-from-top",
                html: true
            })
        }
    </script>
    <form method="post" style="visibility: hidden">
        {% csrf_token %}
    </form>
</head>
<body>
<header class="navbar-header" style="width: 100%; height: 70px">
        <nav class="navbar navbar-static-top" style="background: #3c8dbc;">
{#      <div class="container-fluid" >#}
        <!-- Brand and toggle get grouped for better mobile display -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="" style="height:70px; padding: 25px 25px 0px 15px; background: #367fa9">
              <span style="text-align: center; font-size: 15px; color: #ffffff">
                  上海大学本硕博一体化选课管理系统
              </span>
          </a>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" style="float: right">
          <ul class="nav navbar-nav">
            <li>
                <a style="padding: 25px 15px" onclick="showtoast()">
                    <img src="/static/images/calendar.png" style="width: 20px">
                    <span style="font-size: 15px; color: #ffffff">
                        {{ xq }}
                    </span>
                </a>
            </li>
            <li class="active">
                <a href="" style="padding: 25px 15px">
                    <img src="/static/images/user.png" style="width: 20px">
                    <span class="nav-function-text" style="font-size: 15px; color: #ffffff">
                        &emsp;{{ request.user.first_name }} {{ request.user.last_name }}@S4
                    </span>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="active">
                <a href="" style="padding: 25px 15px">
                    <img src="/static/images/logout.png" style="width: 20px">
                    <span class="nav-function-text" style="font-size: 15px; color: #ffffff">
                        安全退出
                    </span>
                </a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
{#      </div><!-- /.container-fluid -->#}
        </nav>
    </header>
    <div class="col-sm-3 col-md-2 sidebar" style="min-height:800px;width: 250px;padding:1px 2px 0px 0px">
        <ul class="nav nav-sidebar" style="background: #8ac3f0 ">
            <font size="4" style="color: #385090; padding:0px;font-weight: bold"> 管理员信息 </font>
            <font size="3">
                <p style="padding: 2px 0px;">
                    账户：{{ request.user.username }}
                    <br>
                    姓名：{{ request.user.first_name }} {{ request.user.last_name }}
                    <br>
                </p>
            </font>
            <li class="dropdown" style="background: #1e282c">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/static/images/computer.png" style="width: 20px;">
                    <span style="color: #CCCCCC;text-align: center;font-size: 14px; display: inline-block; line-height: 40px">
                        主菜单
                    </span>
                    <img src="/static/images/downarrow.png" style="width: 15px; margin-left: 110px">
                </a>
                <ul class="dropdown-menu" style="color: #CCCCCC;background: #2C3B41; width: 250px">
                    <li>
                        <a href="{% url 'Management' type=1 %}" style="padding: 5px 5px 5px 15px">
                            <img src="/static/images/circle.png" style="width: 15px;">
                            <span style="color: #8aa4af;text-align: center;font-size: 14px; display: inline-block; line-height: 40px;">
                                学生管理
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'Management' type=2 %}" style="padding: 5px 5px 5px 15px">
                            <img src="/static/images/circle.png" style="width: 15px;">
                            <span style="color: #8aa4af;text-align: center;font-size: 14px; display: inline-block; line-height: 40px;">
                                教师管理
                            </span>
                        </a>
                    <li>
                        <a href="{% url 'Management' type=3 %}" style="padding: 5px 5px 5px 15px">
                            <img src="/static/images/circle.png" style="width: 15px;">
                            <span style="color: #8aa4af;text-align: center;font-size: 14px; display: inline-block; line-height: 40px;">
                                院系管理
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'Management' type=4 %}" style="padding: 5px 5px 5px 15px">
                            <img src="/static/images/circle.png" style="width: 15px;">
                            <span style="color: #8aa4af;text-align: center;font-size: 14px; display: inline-block; line-height: 40px;">
                                课程管理
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-sm-3 col-md-8" style="padding: 10px 30px;">
        {% if type == 1 %}
            <b><font size="4"> 请输入学生信息： </font></b>
            <br><br>
            <form class="form-inline" role="form" method="POST" action="{% url 'search_all' type=1 %}">
                {% csrf_token %}
                <div class="form-group">学号：<input class="form-control form-control-inline" name="xh"/></div>
                <div class="form-group">姓名：<input class="form-control form-control-inline" name="xm"/></div>
                <div class="form-group">性别：<input class="form-control form-control-inline" name="xb"/></div>
                <div class="form-group">出生日期：<input class="form-control form-control-inline" name="csrq" type="date"/></div>
                <div class="form-group">籍贯：<input class="form-control form-control-inline" name="jg"/></div>
                <div class="form-group">手机号码：<input class="form-control form-control-inline" name="sjhm"/></div>
                <div class="form-group" style="margin-top: 20px">院系：<input class="form-control form-control-inline" name="yx"/></div>
                <br><br>
                <input type="submit" style="color: #ffffff; background-color: #3c8dbc; border-color: #367fa9;" value="查询">
            </form>
        {% elif type == 2 %}
            <b><font size="4"> 请输入教师信息： </font></b>
            <br><br>
            <form class="form-inline" role="form" method="POST" action="{% url 'search_all' type=2 %}">
                {% csrf_token %}
                <div class="form-group">工号：<input class="form-control form-control-inline" name="gh"/></div>
                <div class="form-group">姓名：<input class="form-control form-control-inline" name="xm"/></div>
                <div class="form-group">性别：<input class="form-control form-control-inline" name="xb"/></div>
                <div class="form-group">出生日期：<input class="form-control form-control-inline" name="csrq" type="date"/></div>
                <div class="form-group">学历：<input class="form-control form-control-inline" name="xl"/></div>
                <div class="form-group">院系：<input class="form-control form-control-inline" name="yx"/></div>
                <br><br>
                <input type="submit" style="color: #ffffff; background-color: #3c8dbc; border-color: #367fa9;" value="查询">
            </form>
        {% elif type == 3 %}
            <b><font size="4"> 请输入院系信息： </font></b>
            <br><br>
            <form class="form-inline" role="form" method="POST" action="{% url 'search_all' type=3 %}">
                {% csrf_token %}
                <div class="form-group">院系号：<input class="form-control form-control-inline" name="yxh"/></div>
                <div class="form-group">院系名：<input class="form-control form-control-inline" name="yxm"/></div>
                <div class="form-group">地址：<input class="form-control form-control-inline" name="dz"/></div>
                <br><br>
                <input type="submit" style="color: #ffffff; background-color: #3c8dbc; border-color: #367fa9;" value="查询">
            </form>
        {% endif %}
    </div>
    <div class="col-sm-3 col-md-8" style="padding: 10px 30px;">
        <table class="table" id="classtable">
        {% if type == 1 %}
            <thead>
                <tr>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>出生日期</th>
                    <th>籍贯</th>
                    <th>手机号码</th>
                    <th>院系</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr id="normal">
                {% if student.xh != chosen_xh %}
                    <td>{{ student.xh }} </td>
                    <td>{{ student.xm }} </td>
                    <td>{{ student.xb }} </td>
                    <td>{{ student.csrq }} </td>
                    <td>{{ student.jg }} </td>
                    <td>{{ student.sjhm }} </td>
                    <td>{{ student.yxm }} </td>
                    <td>
                        <a href="1?chosen_xh={{ student.xh }}"> 编辑 </a>
                    </td>
                {% else %}
                    <form method="POST" role="form" action="edit">
                    {% csrf_token %}
                        <td><input name="xh" readonly="{{ true }}" value="{{ student.xh }}"/></td>
                        <td><input name="xm" value="{{ student.xm }}"/></td>
                        <td><input name="xb" value="{{ student.xb }}"/></td>
                        <td><input name="csrq" type="date" value="{{ student.csrq }}"/></td>
                        <td><input name="jg" value="{{ student.jg }}"/></td>
                        <td><input name="sjhm" value="{{ student.sjhm }}"/></td>
                        <td><input name="yx" value="{{ student.yxm }}"/></td>
                        <td> <input type="submit" style="color: #ffffff; background-color: #3c8dbc; border-color: #367fa9;" value="提交"> </td>
                    </form>
                {% endif %}
                </tr>
                {% endfor %}
                {% if search is not none %}
                    <button style="color: #ffffff; background-color: #3c8dbc; border-color: #367fa9;" onclick="add()">添加学生</button>
                    <button style="color: #ffffff; background-color: #3c8dbc; border-color: #367fa9; margin-left: 20px" onclick="submit()">
                        删除
                    </button>
                {% endif %}
                <tr id="add" style="visibility: hidden">
                    <form method="POST" action="add">
                    {% csrf_token %}
                        <td></td>
                        <td><input name="xh"/></td>
                        <td><input name="xm"></td>
                        <td><input name="xb"/></td>
                        <td><input name="csrq" type="date"/></td>
                        <td><input name="jg"/></td>
                        <td><input name="sjhm"/></td>
                        <td><input name="yx"/></td>
                        <td> <input type="submit" style="color: #ffffff; background-color: #3c8dbc; border-color: #367fa9;" value="提交"> </td>
                    </form>
                </tr>
            </tbody>

        {% elif type == 2 %}
            <thead>
                <tr>
                    <th>工号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>出生日期</th>
                    <th>学历</th>
                    <th>工资</th>
                    <th>院系</th>
                    <th>评分</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                <tr id="normal">
                {% if teacher.gh != chosen_gh %}
                    <td>{{ teacher.gh }} </td>
                    <td>{{ teacher.xm }} </td>
                    <td>{{ teacher.xb }} </td>
                    <td>{{ teacher.csrq }} </td>
                    <td>{{ teacher.xl }} </td>
                    <td>{{ teacher.gz }} </td>
                    <td>{{ teacher.yxm }} </td>
                    <td>{{ teacher.pf }} </td>
                    <td>
                        <a href="1?chosen_gh={{ teacher.gh }}"> 编辑 </a>
                    </td>
                {% else %}
                    <form method="POST" role="form" action="edit">
                    {% csrf_token %}
                        <td><input name="gh" readonly="{{ true }}" value="{{ teacher.gh }}"/></td>
                        <td><input name="xm" value="{{ teacher.xm }}"/></td>
                        <td><input name="xb" value="{{ teacher.xb }}"/></td>
                        <td><input name="csrq" type="date" value="{{ teacher.csrq }}"/></td>
                        <td><input name="xl" value="{{ teacher.xl }}"/></td>
                        <td><input name="gz" value="{{ teacher.gz }}"/></td>
                        <td><input name="yxm" value="{{ teacher.yxm }}"/></td>
                        <td><input name="pf" value="{{ teacher.pf }}"/></td>
                        <td> <input type="submit" style="color: #ffffff; background-color: #3c8dbc; border-color: #367fa9;" value="提交"> </td>
                    </form>
                {% endif %}
                </tr>
                {% endfor %}
                {% if search is not none %}
                    <button style="color: #ffffff; background-color: #3c8dbc; border-color: #367fa9;" onclick="add()">添加教师</button>
                    <button style="color: #ffffff; background-color: #3c8dbc; border-color: #367fa9; margin-left: 20px" onclick="submit()">
                        删除
                    </button>
                {% endif %}
                <tr id="add" style="visibility: hidden">
                    <form method="POST" action="add">
                    {% csrf_token %}
                        <td></td>
                        <td><input name="gh"/></td>
                        <td><input name="xm"></td>
                        <td><input name="xb"/></td>
                        <td><input name="csrq" type="date"/></td>
                        <td><input name="xl"/></td>
                        <td><input name="gz"/></td>
                        <td><input name="yx"/></td>
                        <td><input name="pf"/></td>
                        <td> <input type="submit" style="color: #ffffff; background-color: #3c8dbc; border-color: #367fa9;" value="提交"> </td>
                    </form>
                </tr>
            </tbody>
        {% elif type == 3 %}
            <thead>
                <tr>
                    <th>院系号</th>
                    <th>院系名</th>
                    <th>联系电话</th>
                    <th>地址</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for department in departments %}
                <tr id="normal">
                {% if department.yxh != chosen_yxh %}
                    <td>{{ department.yxh }} </td>
                    <td>{{ department.yxm }} </td>
                    <td>{{ department.lxdh }} </td>
                    <td>{{ department.dz }} </td>
                    <td>
                        <a href="1?chosen_yxh={{ department.yxh }}"> 编辑 </a>
                    </td>
                {% else %}
                    <form method="POST" role="form" action="edit">
                    {% csrf_token %}
                        <td><input name="yxh" readonly="{{ true }}" value="{{ department.yxh }}"/></td>
                        <td><input name="yxm" value="{{ department.yxm }}"/></td>
                        <td><input name="lxdh" value="{{ department.lxdh }}"/></td>
                        <td><input name="dz" value="{{ department.dz }}"/></td>
                        <td> <input type="submit" style="color: #ffffff; background-color: #3c8dbc; border-color: #367fa9;" value="提交"> </td>
                    </form>
                {% endif %}
                </tr>
                {% endfor %}
                {% if search is not none %}
                    <button style="color: #ffffff; background-color: #3c8dbc; border-color: #367fa9;" onclick="add()">添加院系</button>
                    <button style="color: #ffffff; background-color: #3c8dbc; border-color: #367fa9; margin-left: 20px" onclick="submit()">
                        删除
                    </button>
                {% endif %}
                <tr id="add" style="visibility: hidden">
                    <form method="POST" action="add">
                    {% csrf_token %}
                        <td></td>
                        <td><input name="yxh"/></td>
                        <td><input name="yxm"></td>
                        <td><input name="lxdh"/></td>
                        <td><input name="dz"/></td>
                        <td> <input type="submit" style="color: #ffffff; background-color: #3c8dbc; border-color: #367fa9;" value="提交"> </td>
                    </form>
                </tr>
            </tbody>
        {% endif %}
        </table>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/sweetalert-dev.js' %}"></script>
</body>
</html>

<script language="javascript" type="text/javascript">
    function add(){
        if(document.getElementById('add').style.visibility==="hidden")
        {
            document.getElementById('add').style.visibility="visible";
        }
    }
    $(function(){
			function initTableCheckbox() {
				var $thr = $('table thead tr');
				console.log($thr)
				var $checkAllTh = $('<th><input type="checkbox" id="checkAll" name="checkAll" /></th>');
				/*将全选/反选复选框添加到表头最前，即增加一列*/
				$thr.prepend($checkAllTh);
				/*“全选/反选”复选框*/
				var $checkAll = $thr.find('input');
				$checkAll.click(function(event){
					/*将所有行的选中状态设成全选框的选中状态*/
					$tbr.find('input').prop('checked',$(this).prop('checked'));
					/*并调整所有选中行的CSS样式*/
					if ($(this).prop('checked')) {
						$tbr.find('input').parent().parent().addClass('warning');
					}
					else{
						$tbr.find('input').parent().parent().removeClass('warning');
					}
					/*阻止向上冒泡，以防再次触发点击操作*/
					event.stopPropagation();
				});
				/*点击全选框所在单元格时也触发全选框的点击操作*/
				$checkAllTh.click(function(){
					$(this).find('input').click();
				});
				var $tbr = $('table tbody #normal');
				var $checkItemTd = $('<td><input type="checkbox" name="checkItem" /></td>');
				/*每一行都在最前面插入一个选中复选框的单元格*/
				$tbr.prepend($checkItemTd);
				/*点击每一行的选中复选框时*/
				$tbr.find('input').click(function(event){
					/*调整选中行的CSS样式*/
					$(this).parent().parent().toggleClass('warning');
					/*如果已经被选中行的行数等于表格的数据行数，将全选框设为选中状态，否则设为未选中状态*/
					$checkAll.prop('checked',$tbr.find('input:checked').length == $tbr.length ? true : false);
					/*阻止向上冒泡，以防再次触发点击操作*/
					event.stopPropagation();
				});
				/*点击每一行时也触发该行的选中操作*/
				$tbr.click(function(){
					$(this).find('input').click();
				});
			}
			initTableCheckbox();
		})
        function submit(){
        var $chkBoxes = $('#classtable').find('input:checked');   //找到被选中的checkbox集
        if ($chkBoxes.length == 0) {         //如果不勾选弹出警告框
          alert('请至少选择一个数据集');
          return false;
        }

        var xh_array = new Array();
        console.log($chkBoxes);
        $chkBoxes.each(function () {
            var mytr = $(this).parent()
            var myxh = mytr[0].nextElementSibling.innerText;
            xh_array.push(myxh);
        });

        console.log(xh_array);
        $.ajax({
            url: '../search/delete',
            type: "POST",
            data: JSON.stringify({xh_array: xh_array}),
            contentType: "application/json",
            success: function (data) {
                swal('删除成功！');
                setTimeout( function(){
                    window.location.reload();
                }, 1500 );
            }
        });
        return false;
    }

</script>