{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生主页</title>
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sweetalert.css' %}" rel="stylesheet">
{#    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">#}
</head>
<body>
{#  <div class="row">#}
    <header class="navbar-header" style="width: 100%; height: 70px">
        <nav class="navbar navbar-static-top" style="background: #3c8dbc;">
{#      <div class="container-fluid" >#}
        <!-- Brand and toggle get grouped for better mobile display -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="" style="height:70px; padding: 25px 25px 0px 15px; background: #367fa9">
              <span style="text-align: center; font-size: 15px; color: #ffffff">
                  上海大学本硕博一体化选课系统
              </span>
          </a>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" style="float: right">
          <ul class="nav navbar-nav">
            <li>
                <a href="" style="padding: 25px 15px">
                    <img src="/static/images/chat.png" style="width: 20px">
                    <span style="font-size: 15px; color: #ffffff">
                        选课问题咨询解答
                    </span>
                </a>
            </li>
            <li>
                <a href="" style="padding: 25px 15px">
                    <img src="/static/images/calendar.png" style="width: 20px">
                    <span style="font-size: 15px; color: #ffffff">
                        {{ xq_now }}
                    </span>
                </a>
            </li>
            <li class="active">
                <a href="" style="padding: 25px 15px">
                    <img src="/static/images/user.png" style="width: 20px">
                    <span class="nav-function-text" style="font-size: 15px; color: #ffffff">
                        &emsp;{{request.user.username}}@S4
                    </span>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="active">
                <a href="" style="padding: 25px 15px">
                    <img src="/static/images/logout.png" style="width: 20px">
                    <span class="nav-function-text" style="font-size: 15px; color: #ffffff">
                        安全退出
                    </span>
                </a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
{#      </div><!-- /.container-fluid -->#}
        </nav>
    </header>
{#  </div>#}
    <div class="col-sm-3 col-md-2 sidebar" style="min-height:800px;width: 250px;padding:1px 2px 0px 0px">
        <ul class="nav nav-sidebar" style="background: #8ac3f0 ">
            <font size="4" style="color: #385090; padding:0px;font-weight: bold"> 学生信息 </font>
            <font size="3">
                <p style="padding: 2px 0px;">
                    学号：{{xh}}
                    <br>
                    姓名：{{xm}}
                    <br>
                    英语等级：B
                    <br>
                    上学期平均绩点：3.99
                    <br>
                    <font color="red"><b>完成选课后请点击 <a href="" style="color:red;font-weight:bold;">[安全退出]</a></b></font>
                </p>
            </font>
            <li class="header" style="color: #CCCCCC;background: #1a2226; height: 40px">
                <img src="/static/images/mainmenu.png" style="width: 12px; margin-left: 15px">
                <span style="font-size: 12px; display: inline-block; line-height: 40px">
                    主菜单
                </span>
            </li>
            <li class="dropdown" style="background: #1e282c">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/static/images/computer.png" style="width: 20px;">
                    <span style="color: #CCCCCC;text-align: center;font-size: 14px; display: inline-block; line-height: 40px">
                        学生选课
                    </span>
                    <img src="/static/images/downarrow.png" style="width: 15px; margin-left: 110px">
                </a>
                <ul class="dropdown-menu" style="color: #CCCCCC;background: #2C3B41; width: 250px">
                    <li>
                        <a href="{% url 'student_AddCourse' %}" style="padding: 5px 5px 5px 15px">
                            <img src="/static/images/circle.png" style="width: 15px;">
                            <span style="color: #8aa4af;text-align: center;font-size: 14px; display: inline-block; line-height: 40px;">
                                选课
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'student_DeleteCourse' %}" style="padding: 5px 5px 5px 15px">
                            <img src="/static/images/circle.png" style="width: 15px;">
                            <span style="color: #8aa4af;text-align: center;font-size: 14px; display: inline-block; line-height: 40px;">
                                退课
                            </span>
                        </a>
                    <li>
                        <a href="{% url 'student_CourseTable' %}" style="padding: 5px 5px 5px 15px">
                            <img src="/static/images/circle.png" style="width: 15px;">
                            <span style="color: #8aa4af;text-align: center;font-size: 14px; display: inline-block; line-height: 40px;">
                                课表查询
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'student_QueryCourse' %}" style="padding: 5px 5px 5px 15px">
                            <img src="/static/images/circle.png" style="width: 15px;">
                            <span style="color: #8aa4af;text-align: center;font-size: 14px; display: inline-block; line-height: 40px;">
                                课程查询
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'student_QueryGrades' %}" style="padding: 5px 5px 5px 15px">
                            <img src="/static/images/circle.png" style="width: 15px;">
                            <span style="color: #8aa4af;text-align: center;font-size: 14px; display: inline-block; line-height: 40px;">
                                成绩查询
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="col-sm-3 col-md-8" style="padding: 10px 30px;">
        <b><font size="4"> 已选课程： </font></b>
{#        <button style="color: #ffffff; background-color: #3c8dbc; border-color: #367fa9;" onclick="showtoast()">#}
{#            <font size="4"> 显示退课结果 </font>#}
{#        </button>#}
        <table class="table" id="classtable">
            <thead>
                <tr>
{#                    <th>  </th>#}
                    <th> 课程号 </th>
                    <th> 课程名称 </th>
                    <th> 教师号 </th>
                    <th> 教师名 </th>
                    <th> 上课时间 </th>
                    <th> 学分 </th>
                    <th> 学时 </th>
                    <th> 院系号 </th>
{#                    <th> 学期 </th>#}
                </tr>
            </thead>
            <tbody>
                {% for kc in classtable %}
                    <tr>
{#                        <td>#}
{#                            <div class="checkbox">#}
{#                                <label><input type="checkbox" value=""></label>#}
{#                            </div>#}
{#                        </td>#}
                        <td id="1"> {{kc.kh}} </td>
                        <td id="2"> {{kc.km}} </td>
                        <td id="3"> {{kc.gh}} </td>
                        <td id="4"> {{kc.jsmc}} </td>
                        <td id="5"> {{kc.sksj}} </td>
                        <td id="6"> {{kc.xf}} </td>
                        <td id="7"> {{kc.xs}} </td>
                        <td id="8"> {{kc.yxh}} </td>
{#                        <td> {{kc.xq}} </td>#}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button style="font-size: 10px;color: #ffffff; background-color: #3c8dbc; border-color: #367fa9;" onclick="submit()">
            确定
        </button>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/sweetalert-dev.js' %}"></script>
    <script>
		$(function(){
			function initTableCheckbox() {
				var $thr = $('table thead tr');
				var $checkAllTh = $('<th><input type="checkbox" id="checkAll" name="checkAll" /></th>');
				/*将全选/反选复选框添加到表头最前，即增加一列*/
				$thr.prepend($checkAllTh);
				/*“全选/反选”复选框*/
				var $checkAll = $thr.find('input');
				$checkAll.click(function(event){
					/*将所有行的选中状态设成全选框的选中状态*/
					$tbr.find('input').prop('checked',$(this).prop('checked'));
					/*并调整所有选中行的CSS样式*/
					if ($(this).prop('checked')) {
						$tbr.find('input').parent().parent().addClass('warning');
					}
					else{
						$tbr.find('input').parent().parent().removeClass('warning');
					}
					/*阻止向上冒泡，以防再次触发点击操作*/
					event.stopPropagation();
				});
				/*点击全选框所在单元格时也触发全选框的点击操作*/
				$checkAllTh.click(function(){
					$(this).find('input').click();
				});
				var $tbr = $('table tbody tr');
				var $checkItemTd = $('<td><input type="checkbox" name="checkItem" /></td>');
				/*每一行都在最前面插入一个选中复选框的单元格*/
				$tbr.prepend($checkItemTd);
				/*点击每一行的选中复选框时*/
				$tbr.find('input').click(function(event){
					/*调整选中行的CSS样式*/
					$(this).parent().parent().toggleClass('warning');
					/*如果已经被选中行的行数等于表格的数据行数，将全选框设为选中状态，否则设为未选中状态*/
					$checkAll.prop('checked',$tbr.find('input:checked').length == $tbr.length ? true : false);
					/*阻止向上冒泡，以防再次触发点击操作*/
					event.stopPropagation();
				});
				/*点击每一行时也触发该行的选中操作*/
				$tbr.click(function(){
					$(this).find('input').click();
				});
			}
			initTableCheckbox();
		})
        /*$(document).ready(function() {
            //全选按钮事件绑定
            $(function () {
                $("#checkAll").click(function () {
                    $('input[name="checkItem"]').not("[disabled]").attr("checked", this.checked);
                });
                var $checkItem = $("input[name='checkItem']");
                $checkItem.click(function () {
                    $("#checkAll").attr("checked", $checkItem.length == $("input[name='checkItem']:checked").length ? true : false);
                });
            });
            $("#deleteSubmit").click(function () {
                var chk_value = [];
                $('input[name="checkItem"]:checked').each(function () {
                    chk_value.push($(this).val());
                });
                if (chk_value.length <= 0) {
                    alert("请选择要删除的数据！");
                }
                else {
                    alert("!!!");
                }
            });
        })*/
        $('html').ajaxSend(function(event, xhr, settings) {

         function getCookie(name) {

          var cookieValue = null;

          if (document.cookie && document.cookie != '') {

           var cookies = document.cookie.split(';');

           for (var i = 0; i < cookies.length; i++) {

            var cookie = jQuery.trim(cookies[i]);

            // Does this cookie string begin with the name we want?

            if (cookie.substring(0, name.length + 1) == (name + '=')) {

             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));

             break;

            }

           }

          }

          return cookieValue;

         }

         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {

          // Only send the token to relative URLs i.e. locally.

          xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));

         }

        });
		function submit(){
            var $chkBoxes = $('#classtable').find('input:checked');   //找到被选中的checkbox集
            if ($chkBoxes.length == 0) {         //如果不勾选弹出警告框
              swal('请至少选择一门课程！');
              return false;
            }
            var kh_array = new Array();
            var gh_array = new Array();
            console.log($chkBoxes);
            $chkBoxes.each(function () {
                var mytr = $(this).parent()
                {#console.log($(this)[0].nextElementSibling.innerText)#}
                {#console.log($(this)[0].nextElementSibling.nextElementSibling.nextElementSibling.innerText)#}
                var mykh = mytr[0].nextElementSibling.innerText;
                var mygh = mytr[0].nextElementSibling.nextElementSibling.nextElementSibling.innerText;
                {#console.log(mykh);#}
                {#console.log(mygh);#}
                kh_array.push(mykh);
                gh_array.push(mygh);
            });
            console.log(kh_array);
            console.log(gh_array);
            {#var post_data = new Array();#}
            {#post_data['kh_array'] = kh_array;#}
            {#post_data['gh_array'] = gh_array;#}
            {#console.log(post_data)#}
            $.ajax({
                url: '', // http://127.0.0.1:8000/student/DeleteCourse
                type: "POST",
                data: JSON.stringify({kh_array:kh_array,gh_array:gh_array}), // JSON.stringify(post_data)
                contentType: "application/json",
                success: function (data) {
                    // console.log(data)
                    // data = JSON.parse(data)
                    swal('退课成功！');
                    setTimeout( function(){
                        window.location.reload();
                    }, 1500);//延迟1500毫秒
                },
                error: function (data) {
                    // console.log(data)
                    alert("ajax请求失败")
                }
            });
            return false;
        }
    </script>
</body>
</html>