{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生主页</title>
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sweetalert.css' %}" rel="stylesheet">
{#    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">#}
    <script type="text/javascript">
        function showtoast()
        {
            swal({
                title: "<span style=\"text-align: center; font-size: 30px\">选课结果</span>",
                text: "{% if msg %}<table class=\"table\" align=\"center\">\n" +
                    "            <thead>\n" +
                    "                <tr>\n" +
                    "                    <th style=\"text-align: left; font-size: 20px\"> 课程号 </th>\n" +
                    "                    <th style=\"text-align: left; font-size: 20px\"> 工号 </th>\n" +
                    "                    <th style=\"text-align: left; font-size: 20px\"> 结果 </th>\n" +
                    "                </tr>\n" +
                    "            </thead>\n" +
                    "            <tbody>\n" +
                    "                {% for m in msg %}\n"+
                    "                    <tr>\n"+
                    "                        <td style=\"text-align: left; font-size: 20px\"> {{m.kh}} </td>\n"+
                    "                        <td style=\"text-align: left; font-size: 20px\"> {{m.gh}} </td>\n"+
                    "                        <td style=\"text-align: left; font-size: 20px\"> {{m.res}} </td>\n"+
                    "                    </tr>\n"+
                    "                {% endfor %}\n" +
                    "            </tbody>\n" +
                    "        </table>"+"{% else %}<span style=\"text-align: center; font-size: 20px\">您还未进行快捷录入。</span>{% endif %}",
                animation: "slide-from-top",
                html: true
            })
        }
    </script>
</head>
<body>
{#  <div class="row">#}
    <header class="navbar-header" style="width: 100%; height: 70px">
        <nav class="navbar navbar-static-top" style="background: #3c8dbc;">
{#      <div class="container-fluid" >#}
        <!-- Brand and toggle get grouped for better mobile display -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="" style="height:70px; padding: 25px 25px 0px 15px; background: #367fa9">
              <span style="text-align: center; font-size: 15px; color: #ffffff">
                  上海大学本硕博一体化选课系统
              </span>
          </a>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" style="float: right">
          <ul class="nav navbar-nav">
            <li>
                <a href="" style="padding: 25px 15px">
                    <img src="/static/images/chat.png" style="width: 20px">
                    <span style="font-size: 15px; color: #ffffff">
                        选课问题咨询解答
                    </span>
                </a>
            </li>
            <li>
                <a href="" style="padding: 25px 15px">
                    <img src="/static/images/calendar.png" style="width: 20px">
                    <span style="font-size: 15px; color: #ffffff">
                        {{ xq_now }}
                    </span>
                </a>
            </li>
            <li class="active">
                <a href="" style="padding: 25px 15px">
                    <img src="/static/images/user.png" style="width: 20px">
                    <span class="nav-function-text" style="font-size: 15px; color: #ffffff">
                        &emsp;{{request.user.username}}@S4
                    </span>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="active">
                <a href="" style="padding: 25px 15px">
                    <img src="/static/images/logout.png" style="width: 20px">
                    <span class="nav-function-text" style="font-size: 15px; color: #ffffff">
                        安全退出
                    </span>
                </a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
{#      </div><!-- /.container-fluid -->#}
        </nav>
    </header>
{#  </div>#}
    <div class="col-sm-3 col-md-2 sidebar" style="min-height:800px;width: 250px;padding:1px 2px 0px 0px">
        <ul class="nav nav-sidebar" style="background: #8ac3f0 ">
            <font size="4" style="color: #385090; padding:0px;font-weight: bold"> 学生信息 </font>
            <font size="3">
                <p style="padding: 2px 0px;">
                    学号：{{xh}}
                    <br>
                    姓名：{{xm}}
                    <br>
                    英语等级：B
                    <br>
                    上学期平均绩点：3.99
                    <br>
                    <font color="red"><b>完成选课后请点击 <a href="" style="color:red;font-weight:bold;">[安全退出]</a></b></font>
                </p>
            </font>
            <li class="header" style="color: #CCCCCC;background: #1a2226; height: 40px">
                <img src="/static/images/mainmenu.png" style="width: 12px; margin-left: 15px">
                <span style="font-size: 12px; display: inline-block; line-height: 40px">
                    主菜单
                </span>
            </li>
            <li class="dropdown" style="background: #1e282c">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/static/images/computer.png" style="width: 20px;">
                    <span style="color: #CCCCCC;text-align: center;font-size: 14px; display: inline-block; line-height: 40px">
                        学生选课
                    </span>
                    <img src="/static/images/downarrow.png" style="width: 15px; margin-left: 110px">
                </a>
                <ul class="dropdown-menu" style="color: #CCCCCC;background: #2C3B41; width: 250px">
                    <li>
                        <a href="{% url 'student_AddCourse' %}" style="padding: 5px 5px 5px 15px">
                            <img src="/static/images/circle.png" style="width: 15px;">
                            <span style="color: #8aa4af;text-align: center;font-size: 14px; display: inline-block; line-height: 40px;">
                                选课
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'student_DeleteCourse' %}" style="padding: 5px 5px 5px 15px">
                            <img src="/static/images/circle.png" style="width: 15px;">
                            <span style="color: #8aa4af;text-align: center;font-size: 14px; display: inline-block; line-height: 40px;">
                                退课
                            </span>
                        </a>
                    <li>
                        <a href="{% url 'student_CourseTable' %}" style="padding: 5px 5px 5px 15px">
                            <img src="/static/images/circle.png" style="width: 15px;">
                            <span style="color: #8aa4af;text-align: center;font-size: 14px; display: inline-block; line-height: 40px;">
                                课表查询
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'student_QueryCourse' %}" style="padding: 5px 5px 5px 15px">
                            <img src="/static/images/circle.png" style="width: 15px;">
                            <span style="color: #8aa4af;text-align: center;font-size: 14px; display: inline-block; line-height: 40px;">
                                课程查询
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'student_QueryGrades' %}" style="padding: 5px 5px 5px 15px">
                            <img src="/static/images/circle.png" style="width: 15px;">
                            <span style="color: #8aa4af;text-align: center;font-size: 14px; display: inline-block; line-height: 40px;">
                                成绩查询
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="col-sm-3 col-md-8" style="padding: 10px 30px;">
        <b><font size="4"> 快捷录入： </font></b>
        <br><br>
        <form class="form-inline" role="form" method="POST" action="" >
            {% csrf_token %}
            <div class="form-group">
                课程号1：
                <input type="text" name="kh1" class="form-control form-control-inline" style="width:100px;" value={{kh1}}>
                工号1：
                <input type="text" name="gh1" class="form-control form-control-inline" style="width:70px" value={{gh1}}>
                课程号2：
                <input type="text" name="kh2" class="form-control form-control-inline" style="width:100px;" value={{kh2}}>
                工号2：
                <input type="text" name="gh2" class="form-control form-control-inline" style="width:70px" value={{gh2}}>
            </div>
            <br>
            <div class="form-group">
                课程号3：
                <input type="text" name="kh3" class="form-control form-control-inline" style="width:100px;" value={{kh3}}>
                工号3：
                <input type="text" name="gh3" class="form-control form-control-inline" style="width:70px" value={{gh3}}>
                课程号4：
                <input type="text" name="kh4" class="form-control form-control-inline" style="width:100px;" value={{kh4}}>
                工号4：
                <input type="text" name="gh4" class="form-control form-control-inline" style="width:70px" value={{gh4}}>
            </div>
            <br>
            <input type="submit" style="color: #ffffff; background-color: #3c8dbc; border-color: #367fa9;" value="确定">
            <input type="reset" style="color: #ffffff; background-color: #3c8dbc; border-color: #367fa9;" value="重置">
            <br>
        </form>
        <br><br>
    </div>

    <div class="col-sm-3 col-md-8" style="padding: 10px 30px;">
        <b><font size="4"> 已选课程： </font></b>
        <button style="color: #ffffff; background-color: #3c8dbc; border-color: #367fa9;" onclick="showtoast()">
            <font size="4"> 显示选课结果 </font>
        </button>
        <table class="table">
            <thead>
                <tr>
                    <th> 课程号 </th>
                    <th> 课程名称 </th>
                    <th> 教师号 </th>
                    <th> 教师名 </th>
                    <th> 上课时间 </th>
                    <th> 学分 </th>
                    <th> 学时 </th>
                    <th> 院系号 </th>
{#                    <th> 学期 </th>#}
                </tr>
            </thead>
            <tbody>
                {% for kc in classtable %}
                    <tr>
                        <td> {{kc.kh}} </td>
                        <td> {{kc.km}} </td>
                        <td> {{kc.gh}} </td>
                        <td> {{kc.jsmc}} </td>
                        <td> {{kc.sksj}} </td>
                        <td> {{kc.xf}} </td>
                        <td> {{kc.xs}} </td>
                        <td> {{kc.yxh}} </td>
{#                        <td> {{kc.xq}} </td>#}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/sweetalert-dev.js' %}"></script>
</body>
</html>